<nav>
    <div id="logo-name">
      <img id="logo-icon" src="/images/Logo.png">
      <h1> Schoodle</h1>
    </div>
    <div id="create-event-button">
      <img id="event-icon" src="/images/Event-Icon.png">
      <h1>create event</h1>
    </div>
  </nav>
