<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schoodle</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header'); %>
  <main id="creation-page">
    <div id="group-title">
      <div id="create-group-event">Create Group Event</div>
    </div>

    <!-- <img id="separator" src="/images/separator.png"> -->
    <section>
    <form class="form" action="/create" method="POST">
          <div class="form">
            <label for="name">Name</label>
            <textarea
              class="form-control"
              type="text"
              name="name"
            ></textarea>
          </div>
          <div class="form">
            <label for="email"> Email</label>
            <textarea
              class="form-control"
              type="text"
              name="email"
            ></textarea>
          </div>
          <div class="form">
            <label for="title">Event Title</label>
            <textarea
              class="form-control"
              type="text"
              name="title"
            ></textarea>
          </div>
          <div class="form">
            <label for="description">Description</label>
            <textarea
            class="form-control"
            type="text"
            name="description"
            >
            </textarea>
          </div>
    </section>

    <div id="times">
      <section id="calendar">
        <button>Choose your Time and Date</button>
        <div>Calendar will appear here</div>
      </section>
      <section id="meeting-times">
        <div>Possible Meeting Times will appear here</div>
      </section>
    </div>

    <div id="share">Share with your friends!</div>
    <button type="submit">CREATE EVENT</button>
  </form>
  </main>
  <main id="attendee-page">
  <section id="event-info">
      <title>Event Title Goes here</title>
      <div>Created By: creator-name-goes-here</div>
      <div>Description: event-description-goes-here</div>
    </section>
    <section id="attendee-response">
      <header>
        <div id="name">Name</div>
        <textarea></textarea>
        <div id="email">Email</div>
        <textarea></textarea>
        <button>checkbox for notification</button>
      </header>
      <footer>
        When can you attend?
        <div>Time Choices will go here</div>
        <button>SUBMIT</button>
      </footer>

    </section>

  </main>

</body>

</html>
