<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schoodle</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
  <!-- <script type="text/javascript" src="/scripts/rangePlugin.js"></script> -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header'); %>
  <main id="creation-page">
    <div id="group-title">
      <div id="create-group-event">Create Group Event</div>
    </div>

    <!-- <img id="separator" src="/images/separator.png"> -->
    <section>
    <form class="form" action="/create" method="POST">
          <div class="form">
            <label for="name">Name</label>
            <input
              class="form-control"
              type="text"
              name="name"
            ></input>
          </div>
          <div class="form">
            <label for="email"> Email</label>
            <input
              class="form-control"
              type="text"
              name="email"
            ></input>
          </div>
          <div class="form">
            <label for="title">Event Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
            ></input>
          </div>
          <div class="form">
            <label for="description">Description</label>
            <textarea
            class="form-control"
            type="text"
            name="description"
            ></textarea>
          </div>
    </section>

    <div id="times">
      <section id="calendar">
        <button class="btn" >Choose Start Time</button>
        <div class="datepicker">
          <div>
            <article>
            <input type="text" id="startDate" placeholder="Choose start date and time" class="startDate" required value="" />
          </div>
          <div>
            <!-- <input type="text" id="endDate" class="endDate" required> -->
          </div>
        </article>
        </div>
        <button class="btn" >Choose End Time</button>
        <div class="datepicker">
          <div>
            <article>
            <input type="text" id="endDate" placeholder="Choose end date and time" class="startDate" required value="" />
          </div>
          <div>
            <!-- <input type="text" id="endDate" class="endDate" required> -->
          </div>
        </article>
        </div>
        <button type="button" id="submit-meeting-time" class="btn" >Add to Possible Meeting Times</button>
      </section>
      <section id="meeting-times">
        <p>Possible Meeting Times</p>
        <div class="optionAll">
          <div class="optionStartList">
            <p id="start-options">Start</p>
              <!-- <div class="optionStart">placeholder:2022-04-26 10:15 AM</div>
              <div class="optionStart">placeholder:2022-04-27 10:15 AM</div>
              <div class="optionStart">placeholder:2022-04-28 10:15 AM</div> -->
          </div>
          <div>
            <p id="end-options">End</p>
            <!-- <div class="optionEnd">placeholder: 2022-04-26 11:15 AM</div>
            <div class="optionEnd">placeholder:2022-04-27 11:15 AM</div>
            <div class="optionEnd">placeholder:2022-04-28 11:15 AM</div> -->
          </div>
      </div>
      </section>
    </div>

    <div id="share">Share with your friends!</div>
    <button class="btn" type="submit" id="create-event">CREATE EVENT</button>
  </form>
  </main>
</body>

</html>
