body {
  min-height: 100vh;
  background-color: #C2E4D5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: red;
  background-color: white ;
  font-family: 'Lato', cursive;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  height: 90%;
}

#times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

#attendee-page {
  visibility: hidden;
}

main section {
  width: 94%;
}

section textarea {
  width: 100%;
}


